

@mixin reset-border {
    border: none;
    border-radius: $border-radius;
}

@mixin reset-focus {
    &:focus {
        outline: none;
        background-color: $color-primary-background;
    }
}

@mixin text-shadow {
    text-shadow: 0 0 10px black;
}

@mixin image-overlay {
    // background:  linear-gradient(to bottom, $color-secondary, rgba($color-secondary, .9) );
    
    background:
        linear-gradient(to bottom, rgba($color-secondary, .6), rgba($color-secondary, .4) ),
        var(
            --card-image,
            linear-gradient(to bottom, $color-secondary, rgba($color-secondary, .8) )
        );
    background-size: cover;
    background-position: center;
}

@mixin centre-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}