
// - Colors -

$color-primary: #4834d4;
$color-primary-foreground: #fff;
$color-primary-foreground-light: lighten( $color-primary, 20% );
$color-primary-background: lighten( $color-primary, 40% );

$color-secondary: darken( $color-primary, 40% );
$color-secondary-foreground: #fff;
$color-secondary-background: lighten( $color-secondary, 40% );

$color-background: #fff;
$color-background-light: #eeeeee;
$color-foreground: #000;
$color-foreground-light: #777;

$color-error: #ee5253;
$color-error-foreground: #fff;
$color-error-background: lighten( $color-error, 30% );

// - Sizing -

$font-size-small: 12px;
$font-size-medium: 16px;
$font-size-large: 20px;

$font-weight-normal: 500;
$font-weight-bold: 600;

$padd-tiny: 5px;
$padd-xsmall: 10px;
$padd-small: 15px;
$padd-large: 25px;

$border-radius: 8px;

$box-small: 35px;
$box-medium: 50px;
$box-large: 60px;
$box-xlarge: 90px;

$icon-small: 20px;
$icon-medium: 25px;
$icon-large: 30px;

$desktop-media: 1000px;
$desktop-size: 500px;

// - Timings -

$transition-quick: .1s;
$transition-normal: .3s;
$transition-slow: .5s;