
@import '@/styles/abstracts/variables';
@import '@/styles/abstracts/mixins';

.waitTimes {
    width: 100%;

    display: flex;
    align-items: center;
    justify-content: center;
    gap: $padd-small;
}

.waitTimeTotal,
.waitTime {

    color: $color-foreground-light;

    :first-child {
        font-weight: $font-weight-bold;
        color: $color-foreground;
    }
}

.waitTimeArrow {
    width: $icon-medium;
    height: $icon-medium;
    font-size: $icon-medium;
    color: $color-foreground-light;
}

.waitTimeTotal {
    display: flex;
    justify-content: center;
    gap: $padd-tiny;
}

.timeSlots {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: $padd-tiny;

    list-style-type: none;

    .timeSlot {
        padding: $padd-tiny $padd-small;

        font-size: $font-size-large;
        font-weight: $font-weight-normal;

        @include reset-border;
        border-radius: $padd-large;

        color: $color-foreground-light;
        background-color: $color-background-light;

        &.selected {
            color: $color-primary;
            background-color: $color-primary-background;
        }

        @include press;
    }
}

.overflow {
    display: flex;
    align-items: center;

    color: $color-foreground-light;
    font-size: $font-size-medium;

    svg {
        font-size: $icon-small;
    }
    
    @include press;
}