
@import '@/styles/abstracts/variables';
@import '@/styles/abstracts/mixins';

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;

    width: 100%;
    height: $box-xlarge;

    &.coloredIcons {
        color: $color-primary;
    }
    // color: $color-secondary-foreground;

    .headerText {
        flex: 1;
    }

    .title {
        font-size: $font-size-large;
        @include text-shadow;
    }

    .subtitle {
        font-size: $font-size-small;
        @include text-shadow;
    }

    > *:not(:last-child) {
        margin-right: $padd-small;
    }
}