
@import '@/styles/abstracts/variables';

.group {
    
    width: 100%;

    &.centre {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
    }

    &.gapSmall {
        > *:not(:last-child) {
            margin-bottom: $padd-tiny;
        }
    }
    &.gapMedium {
        > *:not(:last-child) {
            margin-bottom: $padd-small;
        }
    }
    &.gapLarge {
        > *:not(:last-child) {
            margin-bottom: $padd-large;
        }
    }

    &.marginSmall {
        margin: $padd-tiny 0;
    }
    &.marginMedium {
        margin: $padd-small 0;
    }
    &.marginLarge {
        margin: $padd-large 0;
    }
}