
@import '@/styles/abstracts/variables';
@import '@/styles/abstracts/mixins';

$overhang: $padd-small;

.wrapper {
    display: flex;
    flex-direction: column;

    position: relative;

    width: 100%;
    border-radius: $overhang;

    background-color: $color-background;

    > * {
        padding: $padd-small;
    }

    &.fill {
        flex: 1;
    }

    &.centre {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    z-index: 1;
    overflow-y: auto;
}

.headerPlaceholder {
    width: 100%;
    height: $box-xlarge;
}

.header {
    position: absolute;

    display: flex;
    align-items: center;
    justify-content: space-between;

    width: 100%;
    height: $box-xlarge + $overhang;

    padding: $padd-small;
    padding-bottom: $padd-small + $overhang;

    color: $color-secondary-foreground;
    @include image-overlay;
}