
@import '@/styles/abstracts/variables';

.wrapper {
    width: 100%;

    > * {
        padding: $padd-small;
    }

    &.fill {
        flex: 1;
    }

    &.centre {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
}