
@import '@/styles/abstracts/variables';
@import '@/styles/abstracts/mixins';

.placeholderNav {
    width: 100%;
    height: $box-xlarge;
}

.nav {
    position: fixed;
    bottom: 0;

    display: flex;
    flex-direction: row;
    justify-content: space-around;

    width: 100%;
    height: $box-xlarge;

    background-color: $color-background;

    z-index: 2;
}

.item {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;

    width: $box-xlarge;
    height: $box-xlarge;
    padding: $padd-small 0;

    color: $color-foreground-light;

    &.active {
        color: $color-primary;
    }

    .icon {
        font-size: $icon-large;
    }

    p {
        font-size: $font-size-small;
        text-align: center;
    }
}