
@import '@/styles/abstracts/variables';
@import '@/styles/abstracts/mixins';

.placeholderNav {
    width: 100%;
    height: $box-large;
}

.nav {
    position: fixed;
    bottom: 0;

    display: flex;
    flex-direction: row;
    justify-content: space-around;

    width: 100%;
    height: $box-large;

    background-color: $color-background;
}

.item {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;

    width: $box-large;
    height: $box-large;
    padding: $padd-small 0;

    color: $color-foreground-light;

    &.active {
        color: $color-primary;
    }

    .icon {
        font-size: $icon-medium
    }

    p {
        font-size: $font-size-small;
    }
}