
@import '@/styles/abstracts/variables';
@import '@/styles/abstracts/mixins';

.label {
    display: block;

    font-size: $font-size-medium;

    color: $color-foreground;
}

.input {
    display: block;

    width: 100%;
    height: $box-medium;
    padding: $padd-small;

    font-size: $font-size-large;
    
    @include reset-border;
    @include reset-focus;

    background-color: $color-background-light;

    &::-webkit-search-cancel-button{
        -webkit-appearance: none;
        height: 1em;
        width: 1em;
        border-radius: 50em;
        background: url(https://pro.fontawesome.com/releases/v5.10.0/svgs/solid/times-circle.svg) no-repeat 50% 50%;
        background-size: contain;
        opacity: 0;
        pointer-events: none;

        cursor: pointer;
    }
    &:focus::-webkit-search-cancel-button {
        opacity: .3;
        pointer-events: all;
    }
}